@import '~node_modules/modern-normalize/modern-normalize.css';


.load-more {  
    &.dosplay-none {
        display: none;
    }
    display: block;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: blue;
    color: white;
}

.info, .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}